@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*,
*::after
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
   
  font-size: 62.5%;
}
body{
    
  /* color: rgb(8, 7, 8);   */
  font-family:" poppins" ,sans-serif ;
  
}
nav {
  padding: 2rem;
  display: flex;
  z-index: 9999;
  /* position: -webkit-sticky; */
  /* position: sticky;
  top: 0; */
  scroll-behavior: smooth;
  /* width: 100%; */
 
  
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.116);
  justify-content: space-between;
  align-items: center;
  }
  p{
    /* display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
}
  


.nav-links {
  /* font-size: 20px; */
  text-decoration: none;
  display: flex;
  gap: 4rem;
  list-style-type: none;
  /* color: #000; */
  
}
.nav-links:hover{
  transform: translate(3px,-3px);
}
.nav-link:link,
.nav-link:visited {
  color: #2e2424;
  display: inline-block;
  padding: 1rem 0;
  font-size: 1.8rem;
  text-decoration: none;
  transition: all 0.3s;
}

.btn-green:link,
.btn-green:visited {
  
  background-color: rgb(96, 206, 22);
  color: #180e0e;
  transition: all 0.3s;
}
.btn:link,
.btn:visited {
  padding: 1rem 3rem;
  border-radius: 0.8rem;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 2px 3px 3px #52bb7ebc;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 2px 3px 3px #e76f6f4d;
}
.btn-green:hover {
  background-color: rgb(31, 28, 181);
}
.nana-link{
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;


}

.logo h1{
    background-image: linear-gradient(to right,rgb(11, 133, 11),rgb(206, 24, 24),rgb(3, 3, 243));
    
    color: transparent;
    -webkit-background-clip: text;
    font-size: 2rem;
    
}
.logo:hover{
    transform: translate(2px ,-2px);
}





.solution-container{
    /* background-color: rgb(102, 192, 147); */
    
   display: flex;
   justify-content: center;
}
/* .salu{
  background-color: #14d81e;
  gap: 2rem;
  padding: 2rem;
} */
.solution{
    /* background-color: brown; */
    padding: 3rem;
   
    font-size: 1.5rem;
    width: 600px;
    text-align: center;
    margin-top: 5rem;
    border: 3px solid rgb(253, 253, 253);
    background-color: rgb(254, 254, 255);
}


.soli{
  background-color: #f5f7f5;
  padding: 3rem;
  gap: 4rem;
}
.heading-title{
    padding: 3rem;
    background-color: blue;
    /* background-image: linear-gradient(to right,rgb(9, 235, 20),rgb(241, 5, 5),blue); */
    color: transparent;
    background-image: linear-gradient(to right,rgb(11, 133, 11),rgb(206, 24, 24),blue);

    -webkit-background-clip: text;
    font-size: 50px;
    justify-content: center;
    align-items: center;

}
h1{
  /* display: block;
    /* font-size: 2em; */
    /* margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* font-weight: bold; */ 
}




.bdg{
  background-color: rgb(220, 226, 231);
  padding: 3rem;
}


.products{
    background-color: #afbeb5;
    padding: 3rem;
     font-size: 25px;
     color: #0e0606;
}
.email{
  gap: 2px;
  font-size: 20px;
  padding: 1rem;

}
.btn-email{
  background-color: #14d814;
  padding: 2rem;
 }
 .image-container img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
 }
 .image-container{
  width: 100%;
 }
 .image-containe img{
  width: 50%;
 }
 


    





.customer-container{
    justify-content: center;
    align-items: center;
   
    
    
    padding: 3rem;
    gap: 3rem;
}

.card-containe{
    background-color: rgb(242, 242, 248);
    display: flex;
    gap: 3rem;
    height: 100%;
    width: 100%;
}
.customer-container h5{
    background-color: rgb(14, 224, 231);
    font-size: large;
    background-image: linear-gradient(to right,rgb(9, 235, 9),rgb(241, 5, 5),rgb(21, 21, 168));

}
.card-four{
    background-color: rgb(239, 238, 240);
    width: 300px;
    height: 400px;
    padding: 3rem;
    border-style: inset;
    font-size: 1.6rem;
    
}
.link-product{
    background-color: rgb(233, 172, 172);

   


}
.test{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  
}
.link-product :hover{
    background-color: rgb(255, 0, 0);
}
.link-product :visited{
    background-color: rgb(151, 151, 155);
    transform: translate(3px -4px);
}
 .card-five{
    background-color: rgb(239, 238, 240);
    
  
    padding: 3rem;
    border-style: inset;
    font-size: 1.6rem;
   
    
}
 
 
 
 .card-six{
    background-color: rgb(239, 238, 240);
   
    
    padding: 3rem;
    border-style: inset;
    font-size: 1.6rem;
   
    

 }
 
 
 
 
 
 .partners-container{
    background-color: rgb(235, 235, 243);
    justify-content: center;

    
    padding: 4rem;
   
    
 }

.partners {
 
  
    display: flex;
    justify-content: center;
   
    
  }
  .partners-left {
    background-image: linear-gradient(to right top, #d81414, rgb(31, 56, 31));
    padding: 3rem;
   
    
  }
  .partners-right {
    padding: 3rem;
    width: 45%;
    background-image: linear-gradient(to left bottom, #25306d, #32d312);
  }
  .partners-right h3 {
    text-align: right;
    font-size: 2.4rem;
    font-weight: 400;
  }
  .partners-left h3 {
    font-size: 2.4rem;
  }
  .partners-left p {
    font-size: 1.6rem;
    color: #f4f3f8;
  }

.text-welcome {
    margin-top: 2rem;
  }
  .partners-left span {
    display: block;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    justify-content: center;
  }
  input,
textarea {
  padding: 1.5rem;
}
.btn-blue:link,
.btn-blue:visited {
  background-color: rgb(0, 19, 128);
  color: rgb(68, 52, 52);
  font-size: 1.6rem;
  transition: all 0.3s;
}
.btn-blue:hover,
.btn-blue:active {
  background-color: rgb(107, 170, 107);
}
  
 /* .partners{
    background-color: rgb(143, 139, 139);
    padding: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 3rem;
 }
 .partners-left{
    background-color: rgb(253, 253, 253);
    padding: 2rem;

 }
 .partners-right{
    background-color: rgb(43, 226, 98);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
 } */
 button{
    background-color: rgb(66, 54, 197);
    padding: 2rem;
    gap: 2rem;
 }
 button:hover{
    transform: translate(3px,-3px);
    
 }
 .btn-green:link,
 .btn-green:visited{
    background-color: rgb(12, 14, 12);
    color: #eee;
    transition: all 0.2s;
 }
 .btn-green:link,
 .btn-green:hover{
    color: red;
 } 
 .body{
    background-color: #ecdcdc;
    font-size: large;
 }
 .body:hover{
    background-color: #191a19;
 }

 .menu{
  width: 20px;
  height: 20px;
  display: none;
 }
 .menu img{
  width: 100%;
  height: 100%;
 }


/* -----------------------responsive---------------- */

@media(max-width:994px){
  .nav-links{
    display: none;
    position: relative;
  }
  .menu{
    display: flex;
  }
  .active{
    display: flex;
    height: auto;
  }
  .nav-links.active{
     display: flex;
    background-color: #34463a;
    position: absolute;
    top: 0;
    right: 0; 

  }
  .wow{
    display: flex;
    flex-direction: column;
  }
  .card-containe{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

}
@media(max-width:758px){
  .card-containe{
    display: flex;
    flex-direction: column;
  }
}


 






    
    



