@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*,
*::after
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
   
  font-size: 62.5%;
}
body{
    
    background-image:linear-gradient( to left,#55ee0e3a,rgba(247, 243, 11, 0.377));
  }
  p{
    color: brown;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1{
    display: flex;
    justify-content: center;
    align-items: ;
  }
